* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p,
span {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Phenomena';
    src: url(../font/Phenomena-Bold.otf);
}

@font-face {
    font-family: 'Pitch-Display';
    src: url(../font/Pitch-Display-Regular-Demo.ttf);
}

/*========================common css end==================*/
/*&&&&&&&&&&&&&&&&&&&& Home page start &&&&&&&&&&&&&&&&&&&&&&*/
/*========================================================
                     preloader start
=========================================================*/
.pre_loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999999;
}

.pre_loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*========================================================
                     preloader end
=========================================================*/
/*========================================================
                     menu_part start
=========================================================*/
.main_menu {
    height: 120px;
    background: #0a2230;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Phenomena', sans-serif;
    padding-left: 25px;
    line-height: 120px;
    transition: all linear .4s;
}

.main_menu .navbar-nav .nav-item .nav-link:hover {
    color: #57ecfa;
}

.main_menu .navbar-brand img {
    padding-top: 10px;
}

.menu_fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0a2230;
    padding-bottom: 20px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    height: 120px;
    z-index: 1;
    display: inline;
}

.menu_fix button {
    top: 40px;
}
.main_menu ul li a.active{
    color: aqua !important;
}
/*========================================================
                     menu_part end
=========================================================*/
/*========================================================
                     banner_part start
=========================================================*/
#banner_part {
    background: #0a2230;
    padding: 150px 0 100px;
    position: relative;
}

.banner_text {
    padding-top: 80px;
}

.banner_text h1 {
    color: #fff;
    font-size: 135px;
    font-weight: 800;
    font-family: 'Pitch-Display';
    letter-spacing: 5px;
    text-shadow: 0px 0px 90px rgba(87, 236, 250, 0.8);
}

.banner_text h3 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Pitch-Display';
    letter-spacing: 5px;
    text-shadow: 0px 0px 90px rgba(87, 236, 250, 0.8);
}

.banner_text p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Phenomena', sans-serif;
    line-height: 26px;
    padding: 50px 0;
    position: relative;
}

.banner_text p::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 70px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(87, 236, 250, 1) 52%, rgba(87, 236, 250, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(52%, rgba(87, 236, 250, 1)), color-stop(100%, rgba(87, 236, 250, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(87, 236, 250, 1) 52%, rgba(87, 236, 250, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#57ecfa', GradientType=0);
    left: -11px;
    top: 51px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(87, 236, 250, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(87, 236, 250, 0.5);
}

.banner_text a {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Phenomena', sans-serif;
    background: #fff;
    padding: 15px 15px;
    border-radius: 40px;
    transition: all linear .4s;
    text-transform: capitalize;
}

.banner_text a:hover {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px rgba(94, 94, 95, 0.78);
}

.banner_img img {
    width: 600px;
    height: 600px;
}

.banner_img {
    position: relative;
    z-index: 999;
}

.banner_img::before {
    position: absolute;
    content: '';
    top: 95px;
    left: 27px;
    width: 90%;
    height: 80%;
    border: 1px solid #24616f;
    border-radius: 30px;
    box-shadow: 0 0 20px 7px rgba(86, 232, 245, 0.3);
    animation: fff 20s alternate infinite;
    z-index: -1;
    background: transparent;
}

.banner_img::after {
    position: absolute;
    content: '';
    top: 95px;
    right: 27px;
    width: 90%;
    height: 80%;
    border: 1px solid #24616f;
    border-radius: 30px;
    box-shadow: 0 0 20px 7px rgba(86, 232, 245, 0.3);
    z-index: -1;
    animation: ddd 20s alternate infinite;
    background: transparent;
}

@keyframes fff {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ddd {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

/*========================================================
                     banner_part end
=========================================================*/
/*========================================================
                     about robo_part start
=========================================================*/
#about_robo {
    padding-bottom: 100px;
    border-bottom: 1px solid #d3d3d3;
}

.robo_img {
    margin-top: -60px;
}

.robo_text {
    padding-top: 70px;
}

.robo_text h4 {
    color: #444;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Pitch-display';
    padding-bottom: 20px;
}

.robo_text p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Phenomena', sans-serif;
    padding: 30px 0 0 0;
    line-height: 26px;
}

.robo_text p span {
    display: inline-block;
    padding-top: 30px;
}

.robo_text a {
    background: #0a2230;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Phenomena', sans-serif;
    padding: 15px 15px;
    border-radius: 40px;
    transition: all linear .4s;
    border: 1px solid #0a2230;
    text-transform: capitalize;
    margin-top: 35px;
}

.robo_text a:hover {
    color: #222;
    background: transparent;
}

/*========================================================
                     about robo_part end
=========================================================*/
/*========================================================
                     research_part start
=========================================================*/
#research_part {
    padding: 100px 0;
    position: relative;
}

.research_text h4 {
    color: #444;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding-bottom: 20px;
}

.research_text p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    padding: 10px 0 0 0;
    line-height: 26px;
}

.research_text p span {
    display: inline-block;
    padding-top: 30px;
}

.research_text a {
    background: #0a2230;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding: 15px 15px;
    border-radius: 40px;
    transition: all linear .4s;
    border: 1px solid #0a2230;
    text-transform: capitalize;
    margin-top: 35px;
}

.research_text a:hover {
    color: #222;
    background: transparent;
}

.outside {
    background: #0a2230;
    padding: 40px 0px 0px 0;
    width: 50%;
    height: 250px !important;
    top: 100px;
    right: -20px;
    position: absolute;
    border-top-left-radius: 15px;
}

.out_img h5 {
    color: #444;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding: 24px 0;
    text-align: center;
    border: 1px solid #ebebeb;
    border-top: none;
}

.out_slider {
    left: -30px;
}

.slick-slide .out_img {
    padding-right: 30px;
}

.out_slider .slick-dots li button {
    font-size: 0;
    border: 0;
    width: 20px;
    height: 3px;
    background: #c3c3c3;
    margin: 0 5px;
}

.out_slider .slick-dots {
    display: flex;
    left: 15px;
    position: absolute;
    bottom: -35px;
}

.out_slider .slick-dots .slick-active button {
    background: #0a2230;
    width: 30px;
}

/*========================================================
                     research_part end
=========================================================*/
/*========================================================
                     banner_part start
=========================================================*/
#research_part2 {
    padding: 70px 0 120px;
    position: relative;
}

.outside2 {
    background: #0a2230;
    padding: 40px 0px 0 0;
    width: 50%;
    height: 250px !important;
    top: 85px;
    left: 40px;
    right: -20px;
    position: absolute;
    border-top-left-radius: 15px;
}

.outside2 {}

.out_slider2 {
    left: -40px;
}

/*========================================================
                     banner_part end
=========================================================*/
/*========================================================
                     event_part start
=========================================================*/
#event_part {
    background: url(../images/events_overlay.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 70px 0 80px;
}

.event_header h3 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
}

.event_header p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    padding: 15px 170px;
}

.event_header a {
    background: #57ecfa;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding: 15px 15px;
    border-radius: 40px;
    transition: all linear .4s;
    border: 1px solid #0a2230;
    text-transform: capitalize;
    margin-top: 35px;
    margin-right: 15px;
}

.event_header a:hover {
    color: #222;
    background: #fff;
}

.event_inner {
    padding-top: 60px;
}

.event_img h5 {
    color: #222;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
    background: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/*========================================================
                     event_part end
=========================================================*/
/*========================================================
                     team_part start
=========================================================*/
#team_part {
    background: #0a2230;
    padding: 50px 0 60px;
}

.team_img {
    position: relative;
    text-align: center;
}

.team_img .overly {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: linear-gradient(0deg, rgba(10, 34, 48, .95) 0%, rgba(10, 34, 48, .8) 85%, rgba(48, 105, 139, .01) 100%)
}

.team_img .overly h4 {
    padding-top: 40px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
}

.team_img .overly p {
    padding-top: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}

/*========================================================
                     team_part end
=========================================================*/
/*========================================================
                     gallery_part start
=========================================================*/
#gallery_part {
    background: url(../images/gallery_overlay.png) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #d6d9db;
    padding: 70px 0 90px;
}

.gallery_header h3 {
    color: #222;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
}

.gallery_header p {
    color: #777;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Lato sans', sans-serif;
    line-height: 24px;
    padding-top: 8px;
}

#gallery_part .gallery_top {
    padding-top: 60px;
    margin-right: 30px;
}

#gallery_part .gallery_bottom {
    padding-top: 30px;
    margin-left: 30px;
}

/*========================================================
                    gallery_part end
=========================================================*/
/*========================================================
                     contact_part start
=========================================================*/
#contact_part {
    padding: 80px 0;
}

.contact_inner {
    margin-top: 40px;
}

.map {
    position: relative;
}

.contact_inner h6 {
    border: 5px solid #d5d5d5;
    position: absolute;
    bottom: -123px;
    left: 0;
    width: 100%;
}

.contact_form h3 {
    color: #222;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Phenomena';
}

.contact_form p {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    padding: 20px 0 20px;
    padding-left: 30.8px;
    position: relative;
}

.contact_form p span {
    display: block;
}

.contact_form p i {
    width: 95px;
    height: 50px;
    background: #fff;
    position: absolute;
    left: -70px;
    top: 19px;
    border-radius: 10px;
    text-align: right;
    line-height: 50px;
    -webkit-box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.05);
    color: #0a2230;
    font-size: 20px;
    padding-right: 38px;
}

/*========================================================
                     contact_part end
=========================================================*/
/*========================================================
                     footer_part start
=========================================================*/
#footer_nav {
    height: 150px;
    background: #0a2230;
}

#footer_nav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
    padding-left: 25px;
    line-height: 150px;
    transition: all linear .4s;
}

#footer_nav .navbar-nav .nav-item .nav-link:hover {
    color: #57ecfa;
}

/*========================================================
                     footer_part end
=========================================================*/
/*========================================================
                     copy_part start
=========================================================*/
#copy_part {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/*========================================================
                      copy_part end
=========================================================*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            Home page end
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            About page start
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
#about_banner {
    background: #0a2230;
    padding: 150px 0 100px;
    text-align: center;
}

.about_head h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Phenomena';
}

.about_head .breadcrumb {
    display: inline-block;
    background: transparent;
    padding: 0;
}

.about_head ol li a {
    color: #fff !important;
    font-size: 18px !important;
    font-family: 'Arimo', sans-serif;
}

.about_head ol li {
    display: inline-block;
}

.about_head .breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            About page end
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            training page start
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.training_img {
    padding-top: 70px;
}

.training_part {
    padding-top: 20px;
}

#tranning_tab_part {
    padding: 100px 0;
}

.tab_cont_main {
    padding: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
}

.tran_tab_menu {
    padding: 30px;
    position: relative;
    color: #0a2230;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
}

.tran_tab_menu::after {
    position: absolute;
    content: '';
    left: 30px;
    bottom: 0;
    width: 288px;
    height: 1px;
    background: #eee;
}

.tran_tab_menu.active::after {
    display: none;
}

.tab-content ul {
    list-style-type: disc;
}

.tab_cont_main p {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Arimo', sans-serif;
    line-height: 26px;
}

.tab_cont_main p span {
    display: block;
    padding-top: 25px;
}

.main_tab_menu {
    -webkit-box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 3px 90px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.tran_tab_menu:hover {
    color: #0a2230;
    text-decoration: none;
}

.tran_tab_menu.active,
.tran_tab_menu.show > .nav-link {
    color: #fff;
    background-color: #0a2230 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab_effect {
    border-radius: 0 !important;
}

.tab_effect2 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            training page end
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            research page start
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
#research_tab_part {
    padding: 70px 0;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            research page end
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            event page start
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
#event_tab_part {
    padding: 100px 0;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            join page start
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
#Join_part {
    padding: 80px 0;
}

.join_text_up h2 {
    color: #222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding-bottom: 10px;
}

.join_text_up p {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    padding-bottom: 20px;
    line-height: 26px;
}

.join_text_bottom h2 {
    color: #222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding-bottom: 10px;
}

.join_text_bottom p {
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    line-height: 26px;
}

.join_text_bottom ol {
    list-style-type: decimal;
    padding-left: 15px;
}

.join_text_bottom ol li {
    color: #777;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lato sans', sans-serif;
    line-height: 26px;
}

#join_form_part {
    padding: 40px 0 90px;
}

.join_form {
    margin-top: 70px;
}

.form_left label {
    font-size: 14px;
    color: #666;
    font-family: 'Lato sans', sans-serif;
    padding: 5px;
}

.form_left input {
    font-size: 14px;
    color: #666;
    font-family: 'Lato sans', sans-serif;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 30px;
    width: 100%;
    padding: 5px;
}

.form_cv_img {
    width: 120px;
    height: 130px;
    border: 1px solid #000;
    margin-left: auto;
    margin-bottom: 30px;
}

.form_right label {
    font-size: 14px;
    color: #666;
    font-family: 'Lato sans', sans-serif;
    padding: 10px 0;
}

.form_right input {
    font-size: 14px;
    color: #666;
    font-family: 'Lato sans', sans-serif;
    border: 0;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 35px;
    width: 100%;
    padding: 5px;
}

.form_ques p {
    font-size: 14px;
    color: #444;
    font-family: 'Lato sans', sans-serif;
    padding-bottom: 15px;
}

.form_ques label {
    display: block;
    font-size: 16px;
    color: #444;
    font-family: 'Lato sans', sans-serif;
}

.form_ques label input {
    margin-right: 10px;
}

.parents_inform {
    padding: 30px 0;
}

.parents_inform h2 {
    color: #222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Phenomena';
    padding-bottom: 10px;
    text-align: center;
}

.join_button button {
    padding: 12px 20px;
    background: #000;
    font-size: 20px;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 20px;
    transition: .4s;
    outline: 0;
}

.join_button button:hover {
    background: transparent;
    color: #222;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
                                            join page end
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
